@import url(../photo-grid/__photo/photo-grid__photo.css);
.photo-grid { 
  max-width: 1184px; 
  display: grid; 
  grid-template-columns: repeat(4, auto);
  align-items: stretch;
  object-fit: cover;  
  grid-gap: 16px; 
  margin: 0 42px 92px;
  
} 

@media screen and (min-width: 1184px) {
  .photo-grid {
    margin: 0 auto 92px;
    
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, auto);
    grid-gap: 14px;
    margin: 0 24px 88px;
    
    
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, auto);
    grid-gap: 16px;
    margin: 0 24px 88px;
    
    
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: repeat(1, auto);  
    grid-gap: 12px;
    margin: 0 16px 64px;
       
  }
}  
