@import url(../header/__logo/header__logo.css);
@import url(../header/__lang-list/header__lang-list.css);
@import url(../header/__lang-link/header__lang-link.css);
@import url(../header/__lang-link/__active/header__lang-link_active.css);

.header {
  max-width: 1184px;  
  margin: 0 48px 56px;
  padding-top: 28px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;  
}

@media screen and (min-width: 1184px) {
  .header {
    margin: 0 auto 56px;
  }
}



@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    margin: 0 48px 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    margin: 0 24px 48px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    margin: 0 16px 48px;
    padding-top: 16px;
  }
}
