@import url(../footer/__links/footer__links.css);
@import url(../footer/__link/footer__link.css);
@import url(../footer/__copyright/footer__copyright.css);
@import url(../footer/__list/footer__list.css);

.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 0 48px 0;
  padding-bottom: 24px;
}

@media screen and (min-width: 1187px) {
  .footer {
    margin: auto;
  }
}


@media screen and (max-width: 768px) {
  .footer {    
    margin: 0 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    margin-left: 16px;
  }
}